<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <style>
        /* Add some basic styling for table */
        table {
            width: 80%;
            margin-top: 20px;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>URL SHORTENER PROJECT</h1>
    <div style="display: flex; flex-direction: column; gap: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <form action="/api/url" method="POST">
            <label>ENTER YOUR ORIGINAL URL</label>
            <input type="text" name="url" placeholder="http://example.com"/>
            <button type="submit" style="width: 20vw;">GENERATE URL</button>
        </form>

     <% if (locals.id) { %>
      <p>URL GENERATED :http://localhost:8001/api/url/<%=id%></p>
     <% } %>
    </div>
</body>
</html>
